/.RobotToMissionProcessor.java._trace
/.RobotToMissionQuerySpecification.java._trace
/.MissionProcessor.java._trace
/.MissionQuerySpecification.java._trace
/.DescriptorProcessor.java._trace
/.DescriptorQuerySpecification.java._trace
