<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="validation.constraint.hu.bme.mdsd.ztz.model.constraints.sameMeasure" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="hu.bme.mdsd.ztz.model.constraints.SameMeasureConstraint0" name="hu.bme.mdsd.ztz.model.constraints.sameMeasure">
      <enabledForEditor editorId="hu.bme.mdsd.ztz.model.drone.presentation.DroneEditorID"/>
    </constraint>
  </extension>
</plugin>
