<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="validation.constraint.hu.bme.mdsd.ztz.model.constraints.nonPositiveParticipants" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="hu.bme.mdsd.ztz.model.constraints.NonPositiveParticipantsConstraint0" name="hu.bme.mdsd.ztz.model.constraints.nonPositiveParticipants">
      <enabledForEditor editorId="hu.bme.mdsd.ztz.model.drone.presentation.DroneEditorID"/>
    </constraint>
  </extension>
  <extension id="validation.constraint.hu.bme.mdsd.ztz.model.constraints.nullMeasureConversionValue" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="hu.bme.mdsd.ztz.model.constraints.NullMeasureConversionValueConstraint0" name="hu.bme.mdsd.ztz.model.constraints.nullMeasureConversionValue">
      <enabledForEditor editorId="hu.bme.mdsd.ztz.model.drone.presentation.DroneEditorID"/>
    </constraint>
  </extension>
  <extension id="validation.constraint.hu.bme.mdsd.ztz.model.constraints.taskNotFinished" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="hu.bme.mdsd.ztz.model.constraints.TaskNotFinishedConstraint0" name="hu.bme.mdsd.ztz.model.constraints.taskNotFinished">
      <enabledForEditor editorId="hu.bme.mdsd.ztz.model.drone.presentation.DroneEditorID"/>
    </constraint>
  </extension>
  <extension id="validation.constraint.hu.bme.mdsd.ztz.model.constraints.taskEarlyExecuted" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="hu.bme.mdsd.ztz.model.constraints.TaskEarlyExecutedConstraint0" name="hu.bme.mdsd.ztz.model.constraints.taskEarlyExecuted">
      <enabledForEditor editorId="hu.bme.mdsd.ztz.model.drone.presentation.DroneEditorID"/>
    </constraint>
  </extension>
  <extension id="validation.constraint.hu.bme.mdsd.ztz.model.constraints.sameMeasure" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="hu.bme.mdsd.ztz.model.constraints.SameMeasureConstraint0" name="hu.bme.mdsd.ztz.model.constraints.sameMeasure">
      <enabledForEditor editorId="hu.bme.mdsd.ztz.model.drone.presentation.DroneEditorID"/>
    </constraint>
  </extension>
  <extension id="validation.constraint.hu.bme.mdsd.ztz.model.constraints.sameTaskAsPrerequisite" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="hu.bme.mdsd.ztz.model.constraints.SameTaskAsPrerequisiteConstraint0" name="hu.bme.mdsd.ztz.model.constraints.sameTaskAsPrerequisite">
      <enabledForEditor editorId="hu.bme.mdsd.ztz.model.drone.presentation.DroneEditorID"/>
    </constraint>
  </extension>
  <extension id="validation.constraint.hu.bme.mdsd.ztz.model.constraints.sameCollaboratorRobot" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="hu.bme.mdsd.ztz.model.constraints.SameCollaboratorRobotConstraint0" name="hu.bme.mdsd.ztz.model.constraints.sameCollaboratorRobot">
      <enabledForEditor editorId="hu.bme.mdsd.ztz.model.drone.presentation.DroneEditorID"/>
    </constraint>
  </extension>
  <extension id="validation.constraint.hu.bme.mdsd.ztz.model.constraints.incorrectWaitingTask" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="hu.bme.mdsd.ztz.model.constraints.IncorrectWaitingTaskConstraint0" name="hu.bme.mdsd.ztz.model.constraints.incorrectWaitingTask">
      <enabledForEditor editorId="hu.bme.mdsd.ztz.model.drone.presentation.DroneEditorID"/>
    </constraint>
  </extension>
  <extension id="validation.constraint.hu.bme.mdsd.ztz.model.constraints.isNotWaitingTask" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="hu.bme.mdsd.ztz.model.constraints.IsNotWaitingTaskConstraint0" name="hu.bme.mdsd.ztz.model.constraints.isNotWaitingTask">
      <enabledForEditor editorId="hu.bme.mdsd.ztz.model.drone.presentation.DroneEditorID"/>
    </constraint>
  </extension>
  <extension id="validation.constraint.hu.bme.mdsd.ztz.model.constraints.taskEarlyFinished" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="hu.bme.mdsd.ztz.model.constraints.TaskEarlyFinishedConstraint0" name="hu.bme.mdsd.ztz.model.constraints.taskEarlyFinished">
      <enabledForEditor editorId="hu.bme.mdsd.ztz.model.drone.presentation.DroneEditorID"/>
    </constraint>
  </extension>
  <extension id="validation.constraint.hu.bme.mdsd.ztz.model.constraints.oneDetectedObject" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="hu.bme.mdsd.ztz.model.constraints.OneDetectedObjectConstraint0" name="hu.bme.mdsd.ztz.model.constraints.oneDetectedObject">
      <enabledForEditor editorId="hu.bme.mdsd.ztz.model.drone.presentation.DroneEditorID"/>
    </constraint>
  </extension>
</plugin>
