<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="hu.bme.mdsd.ztz.model.derived.DerivedFeatures" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:hu.bme.mdsd.ztz.model.derived.DerivedFeatures" id="hu.bme.mdsd.ztz.model.derived.DerivedFeatures"/>
  </extension>
</plugin>
